.location {
    background-color: #FF6060;
    color:#FFFFFF;
    width:340px;
    height:340px;
    border-radius: 10px;
}

.location p {
    font-family: Montserrat;
    font-size:18px;
    padding-left:10px;
}